- if (errors && errors.length > 0)
    .alert.alert-danger(role='alert')
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
        ul
            - each error in errors
                li= error