extends layout

block head
	block head

block nav
	block nav
	
block content
	#leftMain.col-md-2.col-sm-3.col-xs-12.full-height
		block leftContent
	#centerMain.col-md-8.col-sm-6.col-xs-12.full-height
		block centerContent
	#rightMain.col-md-2.col-sm-3.col-xs-12.full-height
		block rightContent

block scripts
	block scripts