extends layout

block head
	block head

block nav
	block nav
	
block content
	#leftMain.col-md-3.col-sm-3.col-xs-0.full-height
		block leftContent
	#centerMain.col-md-9.col-sm-9.col-xs-12.full-height
		block rightContent

block scripts
	block scripts