doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title=title
		link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css', rel='stylesheet', type='text/css')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css', rel='stylesheet', type='text/css')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css' rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
		link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
		block head
	body
		block nav
		#main.container-fluid.full-height
			block content

		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js")
		script(src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js")
		if user
			script(src='https://cdn.webrtc-experiment.com/RTCMultiConnection.js')
			script(src='/javascripts/MurgeinRtcUtils.js')
			script(src='/javascripts/MurgeinWebSocketUtils.js')
			script(type='text/javascript').
				var username = "#{user.username}"; // From Jade
				var rtcBaseChannelId = "#{rtcBaseChannelId}"; // From Jade
				MurgeinWebSocketUtils.connect(username);
		script(src='/javascripts/site.js')
		block scripts

